body {
    background-color: rgb(2, 53, 2);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 960px;
}

h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

h3 { 
    font-size: 25px;
    margin-bottom: 50px;
}

#play-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    justify-items: center;
}

#stock-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-column: 1 / 4;
    grid-row: 1;
    justify-content: center;
    gap: 10px;
    margin-right: -125px; 
}

#foundation-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    grid-column: 4 / -1;
    grid-row: 1;
    gap: 10px;
    justify-content: center;
    margin-left: -95px; 
}

#tableau-container {
    position: relative;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 1 / -1;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.tableau-card-container {
    position: absolute;
    align-self: start;
    margin-top: 0;
    border: none;
}

.foundation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suits, 
.tableau, 
.foundation,
.tableau-card-container, 
#stock,
#discard {
    width: 93.84567px;
    height: 136.58552px;
    align-self: start;
    background-color: rgb(56, 93, 56);
    border-radius: 3px;
}

button {
    background: none;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0); 
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 50px;
    box-shadow: none;
    border: 3px solid black;
}

#buttons {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    margin-top: 300px
}

.foundation img {
    width: 56px;
    height: 56px;
}

.tableau img,
#stock img,
#discard img,
.tableau-card-container img,
#deck-card-container img,
#discard-card-container img {
    position: relative;
    width: 93.84567px;
    height: 136.58552px;
    overflow: hidden;
    border-radius: 3px;
}

#stock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#restock-btn {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(3, 66, 3);
    border: 0px solid white;
}

#score {
    font-size: 25px;
    margin-top: -30px;
}